h1, h2, h3, h4, h5, h6 {
  font-family: "Cambria";
  color: black;
  align: center;
  margin-bottom: 2px;
}

header, footer {
  font-family: "Courier New";
  color: white;
  align: center;
  margin: 0.5;
}

table {
  align: center;
}

th, tr, td {
  font-family: "Consolas";
  color: rgb(106,13,173);
  background-color: rgb(13, 160, 173);
  text-align: center;
  border: 1pt solid black;
  margin: 1pt;
}

.nav_bar {
  background-color: rgb(89, 89, 83);
  margin-top: 1px;
  color: rgb(138, 138, 137);
}

.logo {
  image: "../img/Howling_Wolf_Head.jpg";
  border: 1pt solid rgb(89, 89, 83);
  background-color: black;
}
